This is a sample file to test Strings in Python

In [2]:
st = "this is string"
ds = "data science"
mls = """this is 
    a multiline string"""

print(st)
print(mls)

this is string
this is
    a multiline string

In [5]:
print(ds[-2])
print(st[6])

c
s

In [20]:
st1 = "learning the course of data science"
print(st1)

print(st1[0:7])
print(st1[15:31])

print(st1.upper())
print(st1.capitalize())
len(st1)
ts = st1.split(' ')
print(ts)

learning the course of data science
learnin
urse of data sci
LEARNING THE COURSE OF DATA SCIENCE
Learning the course of data science
['learning', 'the', 'course', 'of', 'data', 'science']

In [24]:
a = "help"
b = "help"

id(a), id(b)

print(a is b)
print(a == b)

print(a is not b)

True
True
False