In [4]:
t1 = (2,3,4,5,6)

print(type(t1))

<class 'tuple'>

In [6]:
names1 = ('asad', 'ali', 'ahmad')
names2 = ('farhan', 'faiz', 'faizan')

n = names1 + names2

print(n)

('asad', 'ali', 'ahmad', 'farhan', 'faiz', 'faizan')