<a href="https://colab.research.google.com/github/aliharris10/test_repo/blob/main/practice_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
i = 1
while(i <= 10):
  print("Hello {}".format(i))
  i = i + 1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [26]:
#program to input a number from user and then calculate the factorial

x = int(input("Enter the number to check the factorial: "))
y = 1
fac = 1

while(y <= x):
  fac = fac * y
  y = y + 1


print("The factorial of {} is {}".format(x, fac))

Enter the number to check the factorial: 6
The factorial of 6 is 720

In [34]:
cars = ["Toyota", "Honda", "Suzuki","KIA", "Lexus", "Hyundai"]

for c in cars:
  print(c)

Toyota
Honda
Suzuki
KIA
Lexus
Hyundai

In [38]:
dic1 = {
    'Name': 'Ali',
    'Age': 22,
    'Gender': 'Male',
    'Height': 130
}

for k in dic1.keys():
  print(k)

for v in dic1.values():
  print(v)  

for ke,va in dic1.items():
  print("Key: {} Value: {}".format(ke,va))

Name
Age
Gender
Height
Ali
22
Male
130
Key: Name Value: Ali
Key: Age Value: 22
Key: Gender Value: Male
Key: Height Value: 130

In [45]:
print(list(range(0,8)))
print(list(range(2,4)))
print(list(range(10,1,-2)))

[0, 1, 2, 3, 4, 5, 6, 7]
[2, 3]
[10, 8, 6, 4, 2]

In [50]:
for i in cars:
  if i == 'Suzuki':
    pass
  else:
    print(i)

Toyota
Honda
KIA
Lexus
Hyundai