In [4]:
print('Hello')

Hello

In [5]:
import time
time.sleep(3)

In [10]:
def myFun(value):
    return 'welcome, {}'.format(value)

myFun('ali')

'welcome, ali'

In [13]:
#this is Level 1
## this is level 2

In [35]:
import numpy as np
def getSquare(v):
    return v * v

x = np.random.randint(1,5000)
#y = getSquare(x)

y = 10

print('The Sqaure of %d is %d' % (x,y))

The Sqaure of 2748 is 10

In [2]:
import pandas as pd

pd.read_csv('iris31.csv')

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          NaN           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           NaN          1.8  virginica

[150 rows x 5 columns]

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns 
sns.set(style="darkgrid")

In [14]:
data = pd.read_csv('fortune500.csv')

data.head()
data.tail()
data.columns = ['year','rank','company','revenue','profit']

data.head()

len(data)

data.dtypes

year         int64
rank         int64
company     object
revenue    float64
profit      object
dtype: object

In [18]:
nnprofit = data.profit.str.contains('[^0-9.-]')
data.loc[nnprofit].head()

set(data.profit[nnprofit])
len(data.profit[nnprofit])

369