In [15]:
l1 = [1,2,3,4,5,6]
a, b, c, d, e, f = l1


print(type(l1))
print("A is: {} and B is: {} ".format(a, b))
print(l1[:])
print(l1[4::-1])

<class 'list'>
A is: 1 and B is: 2
[1, 2, 3, 4, 5, 6]
[5, 4, 3, 2, 1]

In [29]:
stds = ["ali", "saim", "furqan", "muzammil", "zain", "jasim"]

print(stds[:4])
#stds.sort() #to sort a list

stds.append("nabeel")
stds

stds[1] = "rohail" #replacing saim
stds

print(stds.pop())
stds

['ali', 'saim', 'furqan', 'muzammil']
nabeel

['ali', 'rohail', 'furqan', 'muzammil', 'zain', 'jasim']

In [30]:
print(stds)

['ali', 'rohail', 'furqan', 'muzammil', 'zain', 'jasim']

In [31]:
stds.remove("furqan")

In [35]:
#shallow copy and deep copy

list1 = [4,5,6]
list2 = list1

id(list1), id(list2)

list1[1] = 6

print(list2)

[4, 6, 6]

In [42]:
mylist1 = [3,4,5,6]
mylist2 = mylist1[:]

mylist1[2] = 78

print(mylist1)
print(mylist2)

[3, 4, 78, 6]
[3, 4, 5, 6]

In [45]:
mylist1.sort()
mylist1

[3, 4, 6, 78]